*{

}
.hwo{
    border: 80px dotted black;
    width: fit-content;
    padding: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: 1000px solid black;
    outline-offset: -70px;
}
.nadpis{
    text-align: center;
    

}
#bss{
    text-align: left;
    text-size-adjust: 100px;
}
.obraz{
    width: 100px;
    height: 100px;
    align-self: center;
}
div{
    display: flex;
    justify-content: center;
}
ol{
    list-style-position: inside;
    text-align: center ;
}