html{
    background-color: black;
}
.hwo{
    width: fit-content;
    padding-top: 60px; background-color: white;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 600px;
    margin-top: 150px;
    outline: 70px dotted black;
    outline-offset: -10px;
    border-radius: 20px;
}
.nadpis{
    text-align: center;
    font-weight: bolder;
}
#bss{
    text-align: justify;
    text-size-adjust: 100px;
}
.obraz{
    width: 150px;
    height: 150px;
    align-self: center;
}
div{

}
ol{
    list-style-position: inside;
    text-align: center ;
    margin-left: 120px;
}